<div class="user-container">
  <div class="username">
    <h2>Welcome, <%= @user.name %></h2>
  </div>
  <div class="user-artwork-container">
    <%= render partial: "users/liked_artworks" %>
  </div>
  <div class="user-artist-container">
    <%= render partial: "users/followed_artists" %>
  </div>
</div>
