<div class="home-image">
  <%= image_tag "rothko-no-14.jpg" %>
</div>
<h1 class="home-text">Discover new artworks<br> and artists today</h1>
<hr class="home-anchor">
<a href="/auth/twitter" class="home-login">Sign in with Twitter</a>
