<div class="home-image">
  <%= image_tag "gerhard-richter-fuji-1996.jpg" %>
</div>
<h1 class="home-text">Discover new artworks<br> and artists today</h1>
<div class="home-anchor"></div>
<a href="/auth/twitter" class="home-login">Sign in <i class="fa fa-twitter"></i></a>
