/*fonts*/
@import url(http://fonts.googleapis.com/css?family=Righteous|Open+Sans:700,400);

/*body*/
body {
  background-color: #E3E7F4;
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
}

/*navbar*/
.header-logo {
  font-family: 'Righteous', sans-serif;
  display: inline-block;
  margin: 5px 0;
}

.header-container {
  display: flex;
  padding: 0 20px;
  border-bottom: 2px solid rgba(255,255,255,.6);
  background: rgba(255,255,255,.6);
}

.header-container > nav {
  width: 100%;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  display: inline-block;
}

nav > ul > li {
  display: inline;
  padding: 0 10px 10px;
}

.header-container a {
  text-decoration: none;
  color: #333
}

/*homepage*/
.home-image {
  width: 100%;
  height: 650px;
  border-bottom: 50px solid #FFFFFF;
  background: center no-repeat;
  position: absolute;
  top: 0;
  z-index: -5;
}

.home-image > img {
  max-width: 100%;
}

h1.home-text {
  left: 10%;
  top: 20%;
  z-index: 1;
  position: relative;
  line-height: 1.25em;
  font-size: 50px;
  color: #EFEFEF;
}

.home-login {
  border-radius: 1px;
  border: 3px #EFEFEF solid;
  position: relative;
  left: 10%;
  text-decoration: none;
  color: #EFEFEF;
  padding: 10px 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .5s;
}

.home-login:hover {
  background-color: rgba(255, 255, 255, .3)
}

.home-anchor {
  position: relative;
  left: 10%;
  width: 400px;
  height: 1px;
  background-color: #EFEFEF;
  margin-bottom: 40px;
}

/*user-page*/
.user-container {
  padding: 0 20px;
}

.clear {
  clear: both;
}

.username > h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 1em;
}

.username {
  text-align: center;
}

.user-container a {
  text-decoration: none;
  padding-top: 50px;
}
/*
.artwork-follow-container {
  text-align: center;
  padding: 0 50px;
  width: 40%;
  float: left;
}*/

.artist-follow-container,
.artwork-follow-container {
  width: 200px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  margin: 20px;
  float: left;
}

.artwork-follow-description {
  position: relative;
  height: 50px;
}

.artwork-artist-name {
  font-size: .8em;
  font-weight: 900;
  margin: 5px 0;

}

.artwork-image-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #efefef;
}

.artwork-title,
.artwork-date {
  font-size: 12px;
  position: absolute;
}

.artwork-title {
  left: 10px;
  width: 80%;
  text-align: left;
}

.artwork-date {
  right: 10px;
  width: 20%;
  text-align: right;
}

.user-artist-container,
.user-artowrk-container {
  clear: both;
  padding: 5px;
  border: 3px solid black;
  background: white;
}

.button.find-more {
  border: 3px black solid;
  right: 10%;
  display: inline-block;
  float: right;
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .5s;
}

.button.find-more:hover {
  background-color: rgba(0, 0, 0, .1)
}

.user-section-title {
  display: inline-block;
}

.user-section-header {

}



/*artwork-page*/
.artwork-show-container {
  padding: 0 20px;
  text-align: center;
}

.artwork-show-container p {
}

.image-show {
  max-width: 40%;
}

.like-button {
  display: inline-block;
}

.skip-button {
  display: inline-block;
}

.artwork-actions form,
.artwork-actions > form > div {
  display: inline-block;
}

.like-button,
.skip-button {
  border: 3px solid #333;
  padding: 10px 16px;
  background: none;
  text-transform: uppercase;
  font-weight: 900;
}

/*artist-page*/
.artist-show-container {
  padding: 0 20px;
  max-width: 40%;
  text-align: center;
}
